@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Viga&display=swap");
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.text-base-color {
    color: $base-blue;
}

.text-dark-color {
    color: $dark-blue;
}

.text-light-color {
    color: #8d949d;
}

.text-red-color {
    color: #ff5c58;
}

.bg-base-color {
    background-color: $base-blue;
}

.bg-light-color {
    background-color: rgba($light-blue, $alpha: 0.05);
}

.bg-red-color {
    background-color: #ff5c58;

    &:hover {
        background-color: #ff5c58;
    }
}

.h-48 {
    height: 48px;
}

.h-154 {
    height: 154px;
}

.post-thumbnail {
    height: 168px;
    width: 168px;
    object-fit: contain;
}

.border-dark-color {
    border-color: $dark-blue;
}

.btn-outline-base {
    border: 1px solid $base-blue;

    &:hover {
        background-color: $base-blue;
        color: $white;
    }
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100;
}

.top-7 {
    top: 7rem;
}

.top-10 {
    top: 10.5rem;
}

.top-14 {
    top: 21.5rem;
}

.top-lg-14 {
    top: 8rem;
}

.fs-24 {
    font-size: 21px;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fs-11 {
    font-size: 11px;
}

.icon {
    width: 24px;
    height: 24px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-hashtag {
    width: 20px;
    height: 20px;
}

.shadow-medium {
    box-shadow: 1px 3px 6px rgba($dark-blue, $alpha: 0.1);
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-50 {
    border-radius: 50% !important;
}

.rounded-pill-start {
    border-radius: 24px 0 0 24px;
}

.rounded-pill-end {
    border-radius: 0 24px 24px 0;
}

.form-control:focus {
    border-color: #ced4da;
}

.user-post-image {
    width: 270px;
    height: 128px;
    object-fit: contain;
}

.hot-img {
    width: 144px;
    height: 144px;
    object-fit: contain;
}

.hot-card {
    height: 170.5px;
}

.opacity-10 {
    opacity: 10%;
}

.dashboard-brand {
    font-size: 2rem;
    font-family: "Viga", sans-serif;

    &:hover {
        color: $dark-blue;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

// navbar
.navbar {
    box-shadow: 0px 2px 6px rgba($dark-blue, $alpha: 0.1);

    .navbar-brand {
        font-family: "Viga", sans-serif;
        font-size: 2rem;

        &:hover {
            color: $dark-blue;
        }
    }

    .btn-outline-primary {
        border-color: $base-blue;
        border-width: 1.5px;
        padding: 0.25rem 0;

        &:hover {
            background-color: transparent;
            color: $base-blue;
        }
    }

    .btn-primary {
        padding: 0.25rem 0;

        &:hover {
            background-color: $base-blue;
        }
    }
}

// login
.login-form {
    h1 {
        font-size: 3.375rem;
    }

    p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.2;
    }

    label {
        margin: 0 0.7rem;
    }

    .login-optional {
        margin: 1.5rem 0;

        a:hover {
            color: $base-blue;
            transition: all 0.1s ease-in;
        }
    }

    button {
        width: 100%;
        height: 3rem;

        &:hover {
            background-color: $base-blue;
        }
    }

    a:hover {
        color: currentColor;
    }
}

// register
.register-form {
    h1 {
        font-size: 3.375rem;
    }

    label {
        margin: 0 0.7rem;
    }

    button {
        width: 100%;
        height: 3rem;

        &:hover {
            background-color: $base-blue;
        }
    }

    a:hover {
        color: currentColor;
    }
}

.btn-read-more {
    background-color: #3685b5;
}

.card-hot-post {
    border-radius: 0;

    img {
        border-radius: 0;
        object-fit: cover;
    }
}

.card {
    .card-post-details {
        img {
            width: 50px;
            height: 50px;
            border-radius: 0.5rem;
        }
    }
}

.dashboard-sidebar {
    width: 18rem;
}

.dashboard {
    width: calc(100% - 18rem);
}

// #card-comment::after {
//     content: "";
//     position: absolute;
//     top: calc(0% - 1rem);
//     left: 50%;
//     transform: translate(-50%, 0);
//     width: 0.15rem;
//     height: 1rem;
//     background-color: rgba($dark-blue, $alpha: 0.25);
// }

.post-info:hover {
    color: $base-blue;
}

.post-edit:hover {
    color: #ffc487;
}

.post-delete:hover {
    color: #ff5c58;
}
