@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Viga&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.text-base-color {
  color: #0471a6;
}

.text-dark-color {
  color: #061826;
}

.text-light-color {
  color: #8d949d;
}

.text-red-color {
  color: #ff5c58;
}

.bg-base-color {
  background-color: #0471a6;
}

.bg-base-color:hover {
  background-color: #0471a6;
}

.bg-light-color {
  background-color: rgba(186, 185, 214, 0.05);
}

.bg-red-color {
  background-color: #ff5c58;
}

.bg-red-color:hover {
  background-color: #ff5c58;
}

.h-48 {
  height: 48px;
}

.h-154 {
  height: 154px;
}

.post-thumbnail {
  height: 168px;
  width: 168px;
  object-fit: contain;
}

.border-dark-color {
  border-color: #061826;
}

.btn-outline-base {
  border: 1px solid #0471a6;
}

.btn-outline-base:hover {
  background-color: #0471a6;
  color: #fff;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100;
}

.top-7 {
  top: 7rem;
}

.top-10 {
  top: 10.5rem;
}

.top-14 {
  top: 21.5rem;
}

.top-lg-14 {
  top: 8rem;
}

.fs-24 {
  font-size: 21px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.fs-11 {
  font-size: 11px;
}

.icon {
  width: 24px;
  height: 24px;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-hashtag {
  width: 20px;
  height: 20px;
}

.shadow-medium {
  box-shadow: 1px 3px 6px rgba(6, 24, 38, 0.1);
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-50 {
  border-radius: 50% !important;
}

.rounded-pill-start {
  border-radius: 24px 0 0 24px;
}

.rounded-pill-end {
  border-radius: 0 24px 24px 0;
}

.form-control:focus {
  border-color: #ced4da;
}

.user-post-image {
  width: 270px;
  height: 128px;
  object-fit: contain;
}

.hot-img {
  width: 144px;
  height: 144px;
  object-fit: contain;
}

.hot-card {
  height: 170.5px;
}

.opacity-10 {
  opacity: 10%;
}

.dashboard-brand {
  font-size: 2rem;
  font-family: "Viga", sans-serif;
}

.dashboard-brand:hover {
  color: #061826;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar {
  box-shadow: 0px 2px 6px rgba(6, 24, 38, 0.1);
}

.navbar .navbar-brand {
  font-family: "Viga", sans-serif;
  font-size: 2rem;
}

.navbar .navbar-brand:hover {
  color: #061826;
}

.navbar .btn-outline-primary {
  border-color: #0471a6;
  border-width: 1.5px;
  padding: 0.25rem 0;
}

.navbar .btn-outline-primary:hover {
  background-color: transparent;
  color: #0471a6;
}

.navbar .btn-primary {
  padding: 0.25rem 0;
}

.navbar .btn-primary:hover {
  background-color: #0471a6;
}

.login-form h1 {
  font-size: 3.375rem;
}

.login-form p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}

.login-form label {
  margin: 0 0.7rem;
}

.login-form .login-optional {
  margin: 1.5rem 0;
}

.login-form .login-optional a:hover {
  color: #0471a6;
  transition: all 0.1s ease-in;
}

.login-form button {
  width: 100%;
  height: 3rem;
}

.login-form button:hover {
  background-color: #0471a6;
}

.login-form a:hover {
  color: currentColor;
}

.register-form h1 {
  font-size: 3.375rem;
}

.register-form label {
  margin: 0 0.7rem;
}

.register-form button {
  width: 100%;
  height: 3rem;
}

.register-form button:hover {
  background-color: #0471a6;
}

.register-form a:hover {
  color: currentColor;
}

.btn-read-more {
  background-color: #3685b5;
}

.card-hot-post {
  border-radius: 0;
}

.card-hot-post img {
  border-radius: 0;
  object-fit: cover;
}

.card .card-post-details img {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.dashboard-sidebar {
  width: 18rem;
}

.dashboard {
  width: calc(100% - 18rem);
}

.post-info:hover {
  color: #0471a6;
}

.post-edit:hover {
  color: #ffc487;
}

.post-delete:hover {
  color: #ff5c58;
}
/*# sourceMappingURL=app.css.map */